*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
--Blue: hsl(246, 80%, 60%);
--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}

body {
  font-size: 1.125em;
  font-family: "Rubik", serif;
  background-color: var(--Very-dark-blue);
}


button {
  border: none ;
  background-color: transparent;
  cursor: pointer;
}


#container {
  display: flex;
  margin: 2em 0;
  justify-content: center;
}


#grid-container {
   display: grid;
   grid-template-columns: 1fr;  
   gap: 20px;
  }


    
.Controll {
  width: 330px;
  height: 205px; 
  border-radius: 10px;
}

#Profile-row {
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 1.7em;
  align-items: center;
  height: 135px;
  background-color: var(--Blue);
  
  border-radius: 10px;
}

#profile-title {
  font-size: 1.1em;
  color: #fff;
}

#profile-title #small  {
  font-size: .9em;
  font-weight: 400;
  color: var(--Pale-Blue);
} 

strong {
  font-size: 1.2em;
  font-weight: 500;
}

.Controll  #Profile-row .profile-circle img {
  border: 2px solid #fff;
  width: 75px;
  margin-right: .2em;
  border-radius: 50%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row button {
  margin-top: 1em;
  font-size: 1.3em;
  color: var(--Pale-Blue);
  opacity: .3;
}

.row button:hover, .row button:active {
  color: #fff;
  opacity: 1;
}

.Controll , .information--area {
  background-color: var(--Dark-blue);
}

.card--1, .card--2, .card--3, .card--4, .card--5, .card--6 {  
  position: relative;
   border-radius: 10px ;
   
   grid-template-rows: 300px;
}

.row-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1.2em;
}

.row-item1:nth-child(1) {
  margin: -1em 0 1em 0;
}

.row-item1 .card--title {
  font-size: 1.3em;
  font-weight: 600;
  color: #fff;
}

.card--hours {
  font-size: 2em;
  font-weight: 400;
  color: #fff;
}

.card--add-info {
  font-size: 1.2em;
  color: var(--Pale-Blue);
  opacity: .7;
  font-weight: 300;
}

.information--area {
  margin-top: -25px;
  padding: 40px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}


.card--4 .information--area {
  margin-top: -14px;
}

.card--5 .information--area {
  margin-top: -45px;
}


.back-image img {
  position: relative;
  left: 250px;
}


.card--1 {
  background-color: var(--Light-red-work);
}

.card--2 {
  background-color: var(--Soft-blue-play);
}

.card--3 {
  background-color: var(--Light-red-study);
}

.card--4 {
  background-color: var(--Lime-green-exercise);
}

.card--5 {
   background-color: var(--Violet-social);
}


.card--6 {
   background-color: var(--Soft-orange-self-care);
}




@media (min-width: 1024px) {
  body{
    overflow: hidden;
  }

  
#container {
  display: flex;
  margin:5em 0 0 0;
  justify-content: center;
}

  
  #grid-container {
    display: grid;
    grid-template-columns: repeat(4, 261px);
    grid-template-rows: repeat(4, 244px);
    grid-template-areas: 
    ' profile card1 card2  card3 ' 
    ' profile card4 card5 card6 ';
    padding: 2em;
    gap:  40px 30px;
    transform: scale(1.1);
 }

.card--1, .card--2,.card--3, .card--4 , .card--5, .card--6 {
  overflow: hidden;
  border-radius: 15px;
}

.row-item1:nth-child(1) {
  margin: -1.5em 0 .5em 0;
}


 .back-image img {
  position: relative;
  top: -10px;
  left: 175px;
}


.card--add-info {
  margin-top: 1.1em;
  font-size:.8em;
  border-radius: 15px;
}

.information--area {
  padding: 47px 0;
}

.card--2 
.information--area {
  padding: 48px 0;
} 


.row-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
}

.row-item1:nth-child(2) {
  flex-direction: column;
  align-items: flex-start;
}

.card--hours {
  font-size: 3em;
  font-weight: 400;
  color: #fff;
}

 

.card--4 
.information--area, .card--6 
.information--area  {
  padding: 53px 0;
} 

.card--5 
.information--area  {
  margin-top: -57px;
  padding: 53px 0;
} 

.Controll {
  grid-area: profile;
  width:  261px;
  height: 530px; 
}

#Profile-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3em 2em 0 2em;
  align-items: flex-start;
  background-color: var(--Blue); 
  border-radius: 10px;
  
  height: 350px;
}

#profile-title {
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 40px;
}

#profile-title #small  {
  font-size: .7em;
  font-weight: 400;
} 

strong {
  font-size: 1.5em;
}


.card--1 {
   grid-area:  card1 ;
}

.card--2 {
  grid-area:  card2;
}

.card--3 {
  grid-area:  card3 ;
}

.card--4 {
  grid-area:  card4 ;
}

.card--5 {
  grid-area:  card5 ;
}


.card--6 {
  grid-area:  card6 ;
}


.row {
  padding: 0 1.5em;
  flex-direction: column;
  align-items: flex-start;
}


}